form p {
    margin: 1em 0;
}

form {
    width: auto;
}

form input, form select, form textarea {
    box-sizing: border-box;
    border: 0;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #D6D6D6;
    box-shadow: 0 2px 0 0 rgba(148, 148, 148, 0.14);
    width: 300px;
}

form label {
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    width: 200px;
    vertical-align: top;
    line-height: 50px;
    font-weight: 700;
}

form .btn.btn-save {
    margin-left: 213px;
}

form .btn.btn-cancel {
    margin-left: 90px;
}

@media screen and (max-width: 760px) {


    form label {
        width: auto;
        display: block;
        text-align: left;

    }

    form input, form select, form textarea {
        line-height: 10px;
        width: 100%;
    }

    form .btn {
        display: block;
        margin: auto;
        width: 100%;
    }

    form .btn.btn-save, form .btn.btn-cancel {
        margin: 1em 0;
    }
}