/* colors vars */

:root {
	--grey: #628395;
	--grey-dark: #415763;
	--grey-dark-hover: #3F5C6B;
	--red: #FF6F52;
	--red-dark: rgb(206, 87, 64);
	--green: #6FCF97;
	--grey-cancel: #D6D6D6;
	--grey-bg: #F9F9F9;
	--grey-side: #474E52;
}

/* general */

html,
body {
	height: 100%;
}

body {
	background: var(--grey-bg);
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #4F4F4F;
}

a {
	text-decoration: none;
	cursor: pointer;
}

button {
	cursor: pointer;
}

input,
textarea,
select {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

::placeholder {
	color: #99907D;
}

/* container */

.container {
	box-sizing: border-box;
	display: table;
	width: 100%;
	height: 100%;
}

.btn {
	font-weight: 700;
	color: #fff;
	padding: 1.2em 2em;
	background: var(--green);
	border-radius: 3px;
}

.btn:hover {
	background: rgb(110, 192, 144);
}

.btn-cancel {
	background: #D6D6D6;
}

.btn-cancel:hover {
	background: rgb(177, 177, 177);
}

/* content */

.content {
	display: table-cell;
	padding: 2em 3em;
}

.content h1 {
	font-weight: 700;
	font-size: 18px;
	margin: 1em 0 1.5em 0;
}

.wrapper {
	position: relative;
	background: #fff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
	border-radius: 5px;
	padding: 1em 2em;
}

.content-table {
	width: 100%;
}

.content-table tr {
	border-bottom: 1px solid rgba(196, 196, 196, 0.26);
}

.content-table th {
	font-weight: 700;
}

.content-table th,
.content-table td {
	padding: 0.7em;
	text-align: left;
}

.content-table th {
	padding: 1em;
}

.pagination {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-top: 1em;
}

.pagination ul {
	border: 1px solid #dadada;
	border-radius: 5px;
	background: var(--grey-bg);
	display: flex;
}

.pagination ul li {
	padding: 1em 0.5em;
}

.pagination ul li a {
	color: var(--grey);
}

.btn-new {
	position: absolute;
	top: 1em;
	right: 1em;
}

.btn-actions {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	color: #fff;
}

.btn-edit {
	background: var(--grey);
}

.btn-edit:hover {
	background: var(--grey-dark);
}

.btn-remove {
	background: var(--red);
}

.btn-remove:hover {
	background: var(--red-dark);
}

/* mobile */

@media screen and (max-width: 750px) {
	.content {
		display: block;
		padding: 2em 1em;
	}
	.container {
		display: block;
	}
}

/* forms */

form p {
	margin: 1em 0;
}

form {
	width: auto;
}

form input,
form select,
form textarea {
	box-sizing: border-box;
	border: 0;
	padding: 1em;
	border-radius: 3px;
	border: 1px solid #D6D6D6;
	box-shadow: 0 2px 0 0 rgba(148, 148, 148, 0.14);
	width: 300px;
}

form label {
	display: inline-block;
	text-align: right;
	margin-right: 10px;
	width: 200px;
	vertical-align: top;
	line-height: 50px;
	font-weight: 700;
}

form .btn.btn-save {
	margin-left: 213px;
}

form .btn.btn-cancel {
	margin-left: 90px;
}

@media screen and (max-width: 760px) {
	form label {
		width: auto;
		display: block;
		text-align: left;
	}
	form input,
	form select,
	form textarea {
		line-height: 10px;
		width: 100%;
	}
	form .btn {
		display: block;
		margin: auto;
		width: 100%;
	}
	form .btn.btn-save,
	form .btn.btn-cancel {
		margin: 1em 0;
	}
}