#content {
    display: table-cell;
    padding: 2em 3em;
}

#content h1 {
    font-weight: 700;
    font-size: 18px;
    margin: 1em 0 1.5em 0;
}

.wrapper {
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    padding: 1em 2em;
}

.content-table {
    width: 100%;
}

.content-table tr {
    border-bottom: 1px solid rgba(196, 196, 196, 0.26);
}

.content-table th {
    font-weight: 700;
}

.content-table th, .content-table td {
    padding: 0.7em;
    text-align: left;
}

.content-table th {
    padding: 1em;
}

.pagination {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.pagination ul {
    border: 1px solid #dadada;
    border-radius: 5px;
    background: var(--grey-bg);
    display: flex;
}

.pagination ul li {
    padding: 1em 0.5em;
}

.pagination ul li a {
    color: var(--grey);
}

.btn-new {
    position: absolute;
    top: 1em;
    right: 1em;
}

.btn-actions {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
}

.btn-edit {
    background: var(--grey);
}

.btn-edit:hover {
    background: var(--grey-dark);
}

.btn-remove {
    background: var(--red);
}

.btn-remove:hover {
    background: var(--red-dark);
}


/* mobile */
@media screen and (max-width: 750px) {
    #content {
        display: block;
        padding: 2em 1em;
    }

    #container {
        display: block;
    }
}