#footer-top {
    padding: 2em 0;
    background: var(--grey);
}

#footer-top .container {
    display: flex;
    justify-content: space-between;
}

#footer-top .logo {
    margin: 1em 0;
}

#footer-top .logo p {
    color: #fff;
}

#footer-top a {
    color: #fff;
}

#footer-top img {
    border: 2px solid #fff;
    border-radius: 50%;
}


.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-info {
    margin: 0.5em 0;
}

.footer-info i {
    width: 20px;
}

#footer-top h2 {
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    margin-bottom: 1em;
}

#footer-top li {
    margin-bottom: 0.5em;
}

#footer-top li a:hover {
    color: var(--grey-dark);
}

#footer-column-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-column-btn .btn {
    margin: 0.5em 0;  
}


#footer-bottom {
    background: var(--grey-dark);
    padding: 1em 0;
    color: #fff;
}

@media screen and (max-width: 800px) {
    #footer-top .container {
        display: block;
    }
    .footer-column {
        width: 100%;
        margin: 1em 0;
    }
    .footer-info {
        font-size: 16px;
    }

    #footer-column-categories {
        display: none;
    }
}