body {
    background: var(--grey-bg);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4F4F4F;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--grey);
}

a:hover {
    color: var(--grey-dark);
}

button {
    cursor: pointer;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

::placeholder {
    color: rgb(136, 136, 136);
}


.container {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

.logo {
    color: #4F4F4F;
    font-weight: 700;
    font-size: 18px;
    line-height: 67px;
    display: flex;
    align-content: center;
}

.logo p {
    color: #4F4F4F;
    font-size: 18px;
    margin-left: 0.5em;
}

.btn {
    padding: 1.2em 2em;
    color: #fff;
    background: var(--grey);
    text-align: center;
    border-radius: 50px;
}

.btn:hover {
    background: var(--grey-dark);
}

.btn-red {
    background: var(--red);
}

.btn-red:hover {
    background: var(--red-dark);
}

.btn-grey-dark {
    background: var(--grey-dark);
}

.btn-grey-dark:hover {
    background: var(--grey-dark-hover);
}

@media screen and (max-width: 1200px) {
    .logo {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .container {
        width: 100%;
        padding: 0 2em;
    }
}

@media screen and (max-width: 800px) {
    .logo {
        display: none;
    }
}

/* .btn {
    font-weight: 700;
    color: #fff;
    padding: 1.2em 2em;
    background: var(--green);
    border-radius: 3px;
}

.btn:hover {
    background: rgb(110, 192, 144);
}

.btn-cancel {
    background: #D6D6D6;
}

.btn-cancel:hover {
    background: rgb(177, 177, 177);
} */
