body {
    background: var(--grey-bg);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #4F4F4F;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

::placeholder {
    color: #99907D;
}

#container {
    box-sizing: border-box;
    display: table;
    width: 100%;
}

.btn {
    font-weight: 700;
    color: #fff;
    padding: 1.2em 2em;
    background: var(--green);
    border-radius: 3px;
}