.products h1 {
    text-align: center;
    color: var(--red);
    font-size: 24px;
    margin: 2em 0 1em 0;
}

.products i {
    margin: 0 0.5em;
}

.products ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products li {
    width: 186px;
    overflow: hidden;
    border-radius: 3px;
    border: 1px solid #fff;
    margin: 1em;
}

.products li:hover {
    border: 1px solid rgb(223, 223, 223);
}

.products li img {
    width: 186px;
}

.products li a {
    color: #4F4F4F;
    text-align: center;
}

.product-name {
    margin: 1em 0;
}

.product-price {
    margin: 1em 0;
    color: var(--grey);
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .products .container {
        padding: 0;
    }
    .products li {
        width: 50%;
        margin: 1em 0;
    }

    .products li img {
        width: 100%;
    }
}