.content-table {
    width: 100%;
}

.content-table tr {
    border-bottom: 1px solid rgba(196, 196, 196, 0.26);
}

.content-table th {
    font-weight: 700;
}

.content-table th, .content-table td {
    padding: 1em;
    text-align: left;
}