.login {
    width: 100%;
    text-align: center;
}

.login h1 {
    font-size: 18px;
    padding: 2em;
}

.login form {
    width: 300px;
    display: inline-block;
}

.login form input {
    margin: 0.5em 0;
    width: 100%;
}

.login button {
    margin-top: 1em;
    width: 100%;
}

.login a {
    display: block;
    margin-top: 2em;
    color: #99907D;
}

.login a:hover {
    color: rgb(102, 96, 87);
}

/* mobile */
 
@media screen and (max-width: 760px) {
    .login form {
        box-sizing: border-box;
        width: 100%;
        padding: 0 1em;
    }
}